.header-task{
    &__title{
        font-size: 2em;
        color: #000;
    }
    &__text{
        font-size: 1.5em;
        color: #000;
    }
}

.form-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    margin-top: 15px;
    &__input{
        width: 85%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid darkgray;
        padding-left: 5px;
        outline: none;
        &:focus{
            border: 1px solid #218bfd;
            outline: 2px solid #218bfd77;
        }
    }
    &__button{
        width: 14%;
        height: 40px;
        border-radius: 5px;
        border: 0;
        outline: none;
        background-color: #27a743;
        color: #fff;
        cursor: pointer;
        &:hover{
            background-color: #23973c;
        }
    }
}

.container-task{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}