<div class="cards">
    <div class="cards-item">
        <div class="cards-item__img-box cards-item__img-box--1">
        </div>
        <div class="cards-item__txt-box">
            <p class="cards-item__txt">Angular list of prohibited words</p>
        </div>
        <div class="cards-item__btn-box">
            <button [routerLink]="['/works/cenzor']"  class="cards-item__btn" type="button">details</button>
        </div>
    </div>
    <div class="cards-item">
        <div class="cards-item__img-box cards-item__img-box--3">
        </div>
        <div class="cards-item__txt-box">
            <p class="cards-item__txt">Angular users list</p>
        </div>
        <div class="cards-item__btn-box">
            <button [routerLink]="['/works/userList']" class="cards-item__btn" type="button">details</button>
        </div>
    </div>
    <div class="cards-item">
        <div class="cards-item__img-box cards-item__img-box--2">
        </div>
        <div class="cards-item__txt-box">
            <p class="cards-item__txt">Angular task list</p>
        </div>
        <div class="cards-item__btn-box">
            <button [routerLink]="['/works/taskList']" class="cards-item__btn" type="button">details</button>
        </div>
    </div>
</div>