
<header class="header-works">
    <div class="header-works__left">
        <p class="header-works__text">Last works >>></p>
        <a routerLink="cenzor" routerLinkActive="header-works__link--active" class="header-works__link">Cenzor</a>
        <a routerLink="userList" routerLinkActive="header-works__link--active" class="header-works__link">Users</a>
        <a routerLink="taskList" routerLinkActive="header-works__link--active" class="header-works__link">Task</a>
    </div>
    <div class="header-works__rigth">
        <a routerLink="/" class="header-works__link--mofify">Back to >>> Home</a>
    </div>
</header>
<router-outlet></router-outlet>